In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [11]:
data = pd.read_excel("_data/DAT300 - CA 1_NEW.xlsx",index_col=0)

In [12]:
data.describe()

             Labels
count           120
unique            6
top     SouthAfrica
freq             20

In [13]:
data

            Labels
Index
0        Australia
1        Australia
2        Australia
3        Australia
4        Australia
5        Australia
6        Australia
7        Australia
8        Australia
9        Australia
10       Australia
11       Australia
12       Australia
13       Australia
14       Australia
15       Australia
16          Canada
17          Canada
18          Canada
19          Canada
20          Canada
21          Canada
22          Canada
23          Canada
24          Canada
25          Canada
26          Canada
27          Canada
28          Canada
29          Canada
...            ...
90             USA
91             USA
92             USA
93             USA
94             USA
95             USA
96       Australia
97       Australia
98       Australia
99       Australia
100         Canada
101         Canada
102         Canada
103         Canada
104          China
105          China
106          China
107          China
108    SouthAfrica
109    SouthAfrica
110    SouthAfrica
111    SouthAfrica
112         Sweden
113         Sweden
114         Sweden
115         Sweden
116            USA
117            USA
118            USA
119            USA

[120 rows x 1 columns]